// ENABLE  NEXT DEFINE IN ORDER TO ALLOW MODULES BY COMPILING IN GITHUB
// DISABLE NEXT DEFINE IN ORDER TO ALLOW COMPILING IN THE LAYOUT EDITOR


#define SLHSCMMTS    ht_slashes_iniendcomments 0 0                //  /  \     / *  * /
#define BKCDELCTR    ht_backspace_delete_ctrl LCTRL 0             // ⌫ ⌦ ⎈

#define TD_____F1    td_par_F1_F7_F13_F19                              // F1 (tap) F7  (hold)  -  F13 (tap) F19 (hold) 
#define TD_____F2    td_par_F2_F8_F14_F20                              // F2 (tap) F8  (hold)  -  F14 (tap) F20 (hold) 
#define TD_____F3    td_par_F3_F9_F15_F21                              // F3 (tap) F9  (hold)  -  F15 (tap) F21 (hold) 
#define TD_____F4    td_par_F4_F10_F16_F22                             // F4 (tap) F10 (hold)  -  F16 (tap) F22 (hold) 
#define TD_____F5    td_par_F5_F11_F17_F23                             // F5 (tap) F11 (hold)  -  F17 (tap) F23 (hold) 
#define TD_____F6    td_par_F6_F12_F18_F24                             // F6 (tap) F12 (hold)  -  F18 (tap) F24 (hold) 
#define TD_NEWTAB    td_par_newtab_newwindow_newprivatewindow          // new tab (tap) / new window (dbltap) / new private window (dbl tap + hold)

//#define ARROW__U HTUI_arrows LS(K) K

// STICKY
//#define CAPSSHFT    td_OSSHIFT_CAPSLOCK                          // SKSHIFT (tap) + HOLD SHIFT (hold) + CAPS (dbltap) Not used because issues with timings



behaviors {
  #ifdef TESTGITHUB                                  // won't be included if it's not defined
    swapper: swapper {
      compatible = "zmk,behavior-tri-state";
      #binding-cells = <0>;
      bindings = <&kp A>, <&kp B>, <&kt C>;
    };
    #define TESTTRISTATE    swapper

    adaptive: adaptive {
      compatible = "zmk,behavior-adaptive-key";
      #binding-cells = <0>;
      bindings = <&kp H>;        // DEFAULT KEY

      akt_ah { trigger-keys = <A>; max-prior-idle-ms = <300>; bindings = <&kp U>; };      // if TRISTATE is pressed whithin 300ms after A then it outputs U
      akt_uh { trigger-keys = <U>; max-prior-idle-ms = <300>; bindings = <&kp A>; };      // if TRISTATE is pressed whithin 300ms after U then it outputs A
      akt_eh { trigger-keys = <E>; max-prior-idle-ms = <300>; bindings = <&kp O>; };      // if TRISTATE is pressed whithin 300ms after E then it outputs O
    };
    #define TESTADAPTIVE    adaptive

    leader1: leader1 {
      compatible = "zmk,behavior-leader-key";
      #binding-cells = <0>;
      rgb_onoff { sequence = <R G B>; bindings = <&rgb_ug RGB_TOG>; };
    };
    #define TESTLEADER    leader1



   //#define TESTLISTENER   caps_feedback

    #define KEY_TEST__    kp RC(RS(F23))
  #else                                              // test values when compiling in the layout editor
    #define KEY_TEST__    kp RC(RS(F23))
  #endif

  sl_long: sticky_key_quick_release {            // to use with NAV/REP ⇒ SKSHIFT/REP
    compatible = "zmk,behavior-sticky-key"; 
    #binding-cells = <1>;
    bindings = <&mo>;                // STICKY LAYER instead of STICKY KEY
    release-after-ms = <3000>;
    quick-release;
    ignore-modifiers;
  }; 
  // *
  // *
  // ******************************************************************** SKSHIFT (tap) + SHIFT (hold) + CAPSLOCK (dbltap, using mod-morphs intead of tap-dance) 
  mm_skshiftshift_capslock: mm_skshiftshift_capslock{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_kp_sk_tpref_250_0_0 LSHFT LSHFT>, <&kp CAPS>;   mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // *
  // *
  // ******************************************************************** SKSHIFT (tap) + LAYER__NAV (hold) + CAPSLOCK (dbltap, using mod-morphs intead of tap-dance) 
  mm_skshiftnav_capslock: mm_skshiftnav_capslock{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_mo_sk_tpref_280_200_0 LAYER__NAV LSHFT>, <&kp CAPS>;   mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // *
  // *
  // ******************************************************************** ARROWS   
  // ARROWS   mods = <(MOD_LSFT|MOD_RSFT)>;<(MOD_RALT)>
  // ⇑↑ to ⇧⬆
  mm_eurarrows_blackwhite_u: mm_eurarrows_blackwhite_u{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_Eurkey_arrows K LS(K)>, <&HTUI_sym_arrow_U__blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇗↗ to ⬀⬈
  mm_eurarrows_blackwhite_ur: mm_eurarrows_blackwhite_ur{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_Eurkey_arrows I LS(I)>, <&HTUI_sym_arrow_UR_blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇒→ to ⇨⮕
  mm_eurarrows_blackwhite_r: mm_eurarrows_blackwhite_r{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_Eurkey_arrows L LS(L)>, <&HTUI_sym_arrow_R__blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇘↘ to ⬂⬊
  mm_eurarrows_blackwhite_dr: mm_eurarrows_blackwhite_dr{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_Eurkey_arrows M LS(M)>, <&HTUI_sym_arrow_DR_blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇓↓ to ⇩⬇
  mm_eurarrows_blackwhite_d: mm_eurarrows_blackwhite_d{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_Eurkey_arrows J LS(J)>, <&HTUI_sym_arrow_D__blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇙↙ to ⬃⬋
  mm_eurarrows_blackwhite_dl: mm_eurarrows_blackwhite_dl{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_Eurkey_arrows N LS(N)>, <&HTUI_sym_arrow_DL_blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇐← to ⇦⬅
  mm_eurarrows_blackwhite_l: mm_eurarrows_blackwhite_l{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_Eurkey_arrows H LS(H)>, <&HTUI_sym_arrow_L__blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇖↖ to ⬁⬉
  mm_eurarrows_blackwhite_ul: mm_eurarrows_blackwhite_ul{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_Eurkey_arrows U LS(U)>, <&HTUI_sym_arrow_UL_blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇔↔ to ⬄⬌
  mm_eurarrows_blackwhite_ch: mm_eurarrows_blackwhite_ch{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_Eurkey_arrows EQUAL LS(EQUAL)>, <&HTUI_sym_arrow_C__blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇕↕ to ⇳⬍
  mm_commondouble_whiteblack_cv: mm_commondouble_whiteblack_cv{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_sym_arrow_Cv__commndouble 0 0>, <&HTUI_sym_arrow_Cv__blackwhite 0 0>;   mods = <(MOD_RALT)>;
  };
  // ⇔↔⬄⬌ to ⇕↕⇳⬍ - vertical macros need to release all mods at the start to make sure they don't interfere and then re-enable them at the end when appropriate. Only necessary when two mods can be at the same time.
  mm_arrow_central_horiz_vert: mm_arrow_central_horiz_vert{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&mm_eurarrows_blackwhite_ch>, <&mm_commondouble_whiteblack_cv>;   mods = <(MOD_LSFT|MOD_RSFT)>;
  };


  // *
  // *
  // ******************************************************************** STICKY LAYER DO   wwwwwwwwww


  // , → ;
  mm_comma_semi: mm_comma_semi{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&kp COMMA>, <&kp SEMI>;   mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // . → :   _SMSHFT_SPC
  mm_dot_dbldot_sl: mm_dot_dbldot_sl{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&macroUI_1tap_sl DOT LAYER__SMSHFT_SPC>, <&kp LS(SEMI)>;   mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // ! → ¡
  mm_exclam_oexclam_sl: mm_exclam_oexclam_sl{
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = < &macroUI_1tap_sl LS(N1) LAYER__SMSHFT_SPC>, <&macroUI_1tap_sl RA(N1) LAYER__SMSHFT_TOSHIFT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // ? → ¿
  mm_quest_oquest_sl: mm_quest_oquest_sl{
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&macroUI_1tap_sl LS(FSLH) LAYER__SMSHFT_SPC>, <&macroUI_1tap_sl RA(FSLH) LAYER__SMSHFT_TOSHIFT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };

  // , ; ! ¡   COMMA SMARTSHIFT
  ht_comma_smartshift: ht_comma_smartshift{ label = "ht_comma_smartshift"; compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>;
    tapping-term-ms = <250>; quick-tap-ms = <180>; flavor = "tap-preferred";
    bindings = <&mm_exclam_oexclam_sl>, <&mm_comma_semi>;  
  };
  // . : ? ¿    DOT SMARTSHIFT
  ht_dot_smartshift: ht_dot_smartshift{ label = "ht_dot_smartshift"; compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>;
    tapping-term-ms = <250>; quick-tap-ms = <180>; flavor = "tap-preferred";
    bindings = <&mm_quest_oquest_sl>, <&mm_dot_dbldot_sl>;  
  };

  //  ' → `
  mm_quoteab_smi: mm_quoteab_smi{
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&macroUI_1tap_1tap LS(I) SQT>, <&macroUI_1tap_1tap I GRAVE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // " → ^
  mm_quotecd_smi: mm_quotecd_smi{
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&macroUI_1tap_1tap I LS(SQT)>, <&macroUI_1tap_1tap I LS(N6)>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  //  ' ` " ^
  ht_quoteabcd_smi: ht_quoteabcd_smi{label = "ht_quoteabcd_smi";  compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>;
    tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
    bindings =  <&mm_quotecd_smi>, <&mm_quoteab_smi>;  
  };

  // *
  // *
  // ******************************************************************** TAP DANCE 1TAP (New Tab)   /// 2TAP New Window / New Private window (TAP/HOLD)
  // ******************************************************************** FUNCTION TAP DANCE
  td_par_F1_F7_F13_F19: td_par_F1_F7_F13_F19{   
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_par_F1_F7_F13_F19";
    tapping-term-ms = <300>;
    bindings = <&HTUI_1tap_1tap F7 F1>, <&HTUI_1tap_1tap F19 F13>;
  };
  td_par_F2_F8_F14_F20: td_par_F2_F8_F14_F20{   
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_par_F2_F8_F14_F20";
    tapping-term-ms = <300>;
    bindings = <&HTUI_1tap_1tap F8 F2>, <&HTUI_1tap_1tap F20 F14>;
  };
  td_par_F3_F9_F15_F21: td_par_F3_F9_F15_F21{   
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_par_F3_F9_F15_F21";
    tapping-term-ms = <300>;
    bindings = <&HTUI_1tap_1tap F9 F3>, <&HTUI_1tap_1tap F21 F15>;
  };
  td_par_F4_F10_F16_F22: td_par_F4_F10_F16_F22{   
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_par_F4_F10_F16_F22";
    tapping-term-ms = <300>;
    bindings = <&HTUI_1tap_1tap F10 F4>, <&HTUI_1tap_1tap F22 F16>;
  };
  td_par_F5_F11_F17_F23: td_par_F5_F11_F17_F23{   
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_par_F5_F11_F17_F23";
    tapping-term-ms = <300>;
    bindings = <&HTUI_1tap_1tap F11 F5>, <&HTUI_1tap_1tap F23 F17>;
  };
  td_par_F6_F12_F18_F24: td_par_F6_F12_F18_F24{   
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_par_F6_F12_F18_F24";
    tapping-term-ms = <300>;
    bindings = <&HTUI_1tap_1tap F12 F6>, <&HTUI_1tap_1tap F24 F18>;
  };
  // *
  // *
  // ******************************************************************** TAP DANCE 1TAP (New Tab)   /// 2TAP New Window / New Private window (TAP/HOLD)
  td_par_newtab_newwindow_newprivatewindow: td_par_newtab_newwindow_newprivatewindow{   
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_par_newtab_newwindow_newprivatewindow";
    tapping-term-ms = <350>;
    bindings = <&kp LC(T)>, <&HTUI_1tap_1tap LS(LC(N)) LC(N)>;
  };
  // *
  // *
  // ******************************************************************** TAP DANCE Toggle_ACCENTS / Hold_CTRL /// Toggle_ANDROID
  td_CTRL_ACCENTS_ANDROID: td_CTRL_ACCENTS_ANDROID{   
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_CTRL_ACCENTS_ANDROID";
    tapping-term-ms = <350>;
    bindings = <&HTUI_kp_tog_hpref_350_0_0 LCTRL LAYER__ACCENTS>, <&tog LAYER__ANDROID>;
  };
  // *
  // *
  // ******************************************************************** / \   / *  * /  
  //  / → \   ___
  mm_slash_backslash: mm_slash_backslash{
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp FSLH>, <&kp NON_US_BSLH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };

  // / * → * /  __
  mm_inicomment_endcomment: mm_inicomment_endcomment{
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&macroUI_1tap_1tap FSLH LS(N8)>, <&macroUI_1tap_1tap LS(N8) FSLH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };

  //  /  \     / *  * /
  ht_slashes_iniendcomments: ht_slashes_iniendcomments{label = "ht_slashes_iniendcomments";  compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>;
    tapping-term-ms = <280>; quick-tap-ms = <125>; flavor = "tap-preferred";
    bindings = <&mm_inicomment_endcomment>, <&mm_slash_backslash>;  
  };
  // *
  // *
  // ******************************************************************** ⎇+S → ⎇+⇪+↹     ⎇+T → ⎇+↹
  //  ⎇+S → ⎇+⇪+↹
  mm_s_altshifttab: mm_s_altshifttab{
    compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
    bindings = <&mm_s_altgrshifttab>, <&kp LS(TAB)>;
    mods = <(MOD_LALT)>;
    keep-mods = <(MOD_LALT)>;
  };
  //  ⎇+T → ⎇+↹
  mm_t_altshifttab: mm_t_altshifttab{
    compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
    bindings = <&mm_t_altgrshifttab>, <&kp TAB>;
    mods = <(MOD_LALT)>;
    keep-mods = <(MOD_LALT)>;
  };
  //  ⌥+S → ⎇+S
  mm_s_altgrshifttab: mm_s_altgrshifttab{
    compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
    bindings = <&kp S>, <&kp LA(S)>;
    mods = <(MOD_RALT)>;
  };
  //  ⌥+T → ⎇+T
  mm_t_altgrshifttab: mm_t_altgrshifttab{
    compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
    bindings = <&kp T>, <&kp LA(T)>;
    mods = <(MOD_RALT)>;

  };
  // *
  // *
  // ******************************************************************** ' ` " ^
  // ' (") → ` (^)
  mm_quoteabcd: mm_quoteabcd{
    compatible = "zmk,behavior-mod-morph";    #binding-cells = <0>;
    bindings = <&HTUI_1tap_1tap LS(SQT) SQT>, <&HTUI_1tap_1tap LS(N6) GRAVE>;    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // *
  // *
  // ******************************************************************** ' ` " ^ ANDROID
  //  ' → `
  mm_quoteab_ANDROID: mm_quoteab_ANDROID{
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp SQT>, <&macroUI_1tap_1tap GRAVE SPACE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // " → ^
  mm_quotecd_ANDROID: mm_quotecd_ANDROID{
    compatible = "zmk,behavior-mod-morph";    #binding-cells = <0>;
    bindings = <&kp LS(SQT)>, <&macroUI_1tap_1tap LS(N6) SPACE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  //  ' ` " ^
  ht_quoteabcd_ANDROID: ht_quoteabcd_ANDROID{label = "ht_quoteabcd_ANDROID";  compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>;
    tapping-term-ms = <200>; quick-tap-ms = <125>; flavor = "tap-preferred";
    bindings =  <&mm_quotecd_ANDROID>, <&mm_quoteab_ANDROID>;  
  };
  // *
  // *
  // ******************************************************************** ⌫ ⌦ ⎈ 
  //  ⌫ → ⌦
  mm_bckspc_delete: mm_bckspc_delete{
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT|MOD_LALT)>;
  };
  //  ⎈⌫ → ⎈⌦
  mm_lcbckspc_lcdelete: mm_lcbckspc_lcdelete{
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp LC(BSPC)>, <&kp LC(DEL)>;
    mods = <(MOD_LSFT|MOD_RSFT|MOD_LALT)>;
  };

  //  ⌫ ⌦ ⎈
  ht_backspace_delete_ctrl: ht_backspace_delete_ctrl{label = "ht_backspace_delete_ctrl";  compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>;
    tapping-term-ms = <200>; quick-tap-ms = <125>; flavor = "hold-preferred";
    bindings = <&kp>, <&mm_bckspc_delete>;  
  };
  //  ⌫W ⌦W ⎈  delete word backwards and forward with a single tap or CTRL when hold
  ht_delword_ctrl: ht_delword_ctrl{label = "ht_delword_ctrl";  compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>;
    tapping-term-ms = <200>; quick-tap-ms = <125>; flavor = "hold-preferred";
    bindings = <&kp>, <&mm_lcbckspc_lcdelete>;  
  };


  // *
  // *
  // ******************************************************************** . :   > ≥   
  // , (!) → ; (¡)
  mm_commacexclam_semioexclam: mm_commacexclam_semioexclam{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_1tap_kp_tpref LS(N1) COMMA>, <&HTUI_1tap_kp_tpref RA(N1) SEMI>;   mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // . (?) → : (¿)
  mm_dotcquest_dbldotoquest: mm_dotcquest_dbldotoquest{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_1tap_kp_tpref LS(FSLH) DOT>, <&HTUI_1tap_kp_tpref RA(FSLH) LS(SEMI)>;   mods = <(MOD_LSFT|MOD_RSFT)>;
  };

  // ******************************************************************** TEST , ; (    < ≤ {  *** DOESN'T WORK *** doesn't properly block WIN/ALT modifiers
  //&macro_release &kp MOD_LSFT &kp MOD_RSFT &kp MOD_LCTL &kp MOD_RCTL &kp MOD_LALT &kp MOD_RALT &kp MOD_LGUI &kp MOD_RGUI


  // *
  // *
  // ******************************************************************** - = → _ ≠ 
  // - (_) → = (≠)
  mm_minusunder_equalnotequal: mm_minusunder_equalnotequal{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>; 
    bindings = <&HTUI_1tap_kp_tpref LS(MINUS) MINUS>, <&HTUI_EurShft_kp LS(N1) EQUAL>;   mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // ******************************************************************** custom_caps_word   NOT 
  caps_word {
    continue-list = <
      UNDERSCORE MINUS
      BACKSPACE DELETE
      N1 N2 N3 N4 N5 N6 N7 N8 N9 N0 SQT LS(SQT) MINUS LS(N9) LS(N0) 
    >;
  };
  // *
  // *
  // ********************************************************************  ˚ ª  ° №    
  td_ordinal: td_ordinal{                     // ˚ ª  ° №
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_ordinal";
    tapping-term-ms = <300>;
    bindings = <&HTUI_1tap_DeadkeySPC RA(SEMI) RA(N7)>, <&HTUI_1tap_1tap RA(LS(MINUS)) RA(N2)>;
  };
  // *
  // *
  // ******************************************************************** ½⅓⅔  ¼¾
  td_fractions: td_fractions{                     // ½⅓⅔    ¼¾
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_fractions";
    tapping-term-ms = <300>;
    bindings = <&HTUI_EurMinus_EurMinus KP_N1 KP_N2>, <&HTUI_EurMinus_EurMinus KP_N3 KP_N4>, <&macroUI_EurkeyMINUS KP_N5>;
  };
  // *
  // *
  // ******************************************************************** √∛∜   ∞ 
  td_infinity: td_infinity{   
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_infinity";
    tapping-term-ms = <500>;
    bindings = <&HTUI_EurShft_EurShft I R>, <&HTUI_EurShft_EurShft K_CANCEL KP_N3>, <&HTUI_EurShft_EurShft K_CANCEL KP_N4>;
  };

  // *
  // *
  // ******************************************************************** ∨∧ ∡↯
  td_lightning: td_lightning{                     // ∨∧ ∡↯
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_lightning";
    tapping-term-ms = <500>;
    bindings = <&HTUI_EurShft_EurShft LS(N7) LS(BSLH)>, <&HTUI_EurShft_EurShft Z KP_N7>;
  };


  // *
  // *
  // ******************************************************************** ◦○⦾  •●⦿◉
  // • → ◦
  ht_bulletpoint_a: ht_bulletpoint_a{  compatible = "zmk,behavior-hold-tap";   #binding-cells = <2>; 
    tapping-term-ms = <250>; quick-tap-ms = <0>; flavor = "tap-preferred";
    bindings = <&macroUI_sym_bulletpoint2>, <&macroUI_sym_bulletpoint1>; 
  };  
  // ● → ○
  ht_bulletpoint_b: ht_bulletpoint_b{  compatible = "zmk,behavior-hold-tap";   #binding-cells = <2>; 
    tapping-term-ms = <250>; quick-tap-ms = <0>; flavor = "tap-preferred";
    bindings = <&macroUI_sym_bulletpoint4>, <&macroUI_sym_bulletpoint3>;   
  };
  // ⦿ → ⦾
  ht_bulletpoint_c: ht_bulletpoint_c{  compatible = "zmk,behavior-hold-tap";   #binding-cells = <2>; 
    tapping-term-ms = <250>; quick-tap-ms = <0>; flavor = "tap-preferred";
    bindings = <&macroUI_sym_bulletpoint6>, <&macroUI_sym_bulletpoint5>;  
  }; 
  // ◉ macroUI_sym_bulletpoint7


  // •◦ → ●○ → ⦿⦾ → ◉
  td_bulletpoints: td_bulletpoints{            
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_bulletpoints";
    tapping-term-ms = <250>;
    bindings = <&ht_bulletpoint_a 0 0>, <&ht_bulletpoint_b 0 0>, <&ht_bulletpoint_c 0 0>, <&macroUI_sym_bulletpoint7>;
  };



  // *
  // *
  // ******************************************************************** ✓✔ ✕✖
  // ✓ → ✔
  ht_okbold_ok: ht_okbold_ok{  compatible = "zmk,behavior-hold-tap";   #binding-cells = <2>; 
    tapping-term-ms = <250>; quick-tap-ms = <0>; flavor = "tap-preferred";
    bindings = <&macroUI_sym_okbold>, <&macroUI_sym_ok>; 
  };  
  // ✕ → ✖        some issue here
  ht_cancelbold_cancel: ht_cancelbold_cancel{  compatible = "zmk,behavior-hold-tap";   #binding-cells = <2>; 
    tapping-term-ms = <250>; quick-tap-ms = <0>; flavor = "tap-preferred";
    bindings = <&macroUI_sym_cancelbold>, <&macroUI_sym_cancel>;   
  };

  // ✓✔ → ✕✖
  td_okcancel: td_okcancel{                    
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_okcancel";
    tapping-term-ms = <250>;
    bindings = <&ht_okbold_ok 0 0>, <&ht_cancelbold_cancel 0 0>;
  };

  // *
  // *
  // ******************************************************************** ☐☑☒
  // ☐ → ☑ → ☒
  td_checkbox: td_checkbox{                    
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_checkbox";
    tapping-term-ms = <250>;
    bindings = <&macroUI_sym_chkbxunchecked>, <&macroUI_sym_chkbxok>, <&macroUI_sym_chkbxchecked>;
  };
  // *
  // *
  // ******************************************************************** ⇧⇪⇬
  // ⇧ → ⇪ → ⇬
  td_shft_skshft_caps: td_shft_skshft_caps{                    
    compatible = "zmk,behavior-tap-dance";  #binding-cells = <0>;  label = "td_checkbox";
    tapping-term-ms = <250>;
    bindings = <&macroUI_sym_basic_shift>, <&macroUI_sym_basic_skshift>, <&macroUI_sym_basic_capslock>;
  };
  // *
  // *
  // ******************************************************************** SUPERSCRIPTS
  // it should but RALT is not actually being blocked in the mod-morph. I have to block it here so it doesn't interfere
  // mod-morph inside a hold-tap doesn't work well, it needs to be hold-tap inside a mod-morph

  // NP0
  mm_supsub_kp0: mm_supsub_kp0{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_0>, <&macroUI_sym_sup_0>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp0_supsubkp0: mm_n0_supsubn0{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_N0>, <&mm_supsub_kp0>;   mods = <(MOD_RALT)>;  };
  // NP1     // mod-morph inside a hold-tap doesn't work well, it needs to be hold-tap inside a mod-morph
  mm_supsub_kp1: mm_supsub_kp1{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_1>, <&macroUI_sym_sup_1>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp1_supsubkp1: mm_kp1_supsubkp1{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&HTUI_1tap_kp_tpref DOT KP_N1>, <&mm_supsub_kp1>;   mods = <(MOD_RALT)>;  };
  // NP2     // mod-morph inside a hold-tap doesn't work well, it needs to be hold-tap inside a mod-morph
  mm_supsub_kp2: mm_supsub_kp2{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_2>, <&macroUI_sym_sup_2>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp2_supsubkp2: mm_kp2_supsubkp2{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&HTUI_1tap_kp_tpref COMMA KP_N2>, <&mm_supsub_kp2>;   mods = <(MOD_RALT)>;  };
  // NP3
  mm_supsub_kp3: mm_supsub_kp3{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_3>, <&macroUI_sym_sup_3>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp3_supsubkp3: mm_kp3_supsubkp3{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_N3>, <&mm_supsub_kp3>;   mods = <(MOD_RALT)>;  };
  // NP4
  mm_supsub_kp4: mm_supsub_kp4{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_4>, <&macroUI_sym_sup_4>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp4_supsubkp4: mm_kp4_supsubkp4{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_N4>, <&mm_supsub_kp4>;   mods = <(MOD_RALT)>;  };
  // NP5
  mm_supsub_kp5: mm_supsub_kp5{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_5>, <&macroUI_sym_sup_5>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp5_supsubkp5: mm_kp5_supsubkp5{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_N5>, <&mm_supsub_kp5>;   mods = <(MOD_RALT)>;  };
  // NP6
  mm_supsub_kp6: mm_supsub_kp6{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_6>, <&macroUI_sym_sup_6>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp6_supsubkp6: mm_kp6_supsubkp6{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_N6>, <&mm_supsub_kp6>;   mods = <(MOD_RALT)>;  };
  // NP7
  mm_supsub_kp7: mm_supsub_kp7{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_7>, <&macroUI_sym_sup_7>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp7_supsubkp7: mm_kp7_supsubkp7{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_N7>, <&mm_supsub_kp7>;   mods = <(MOD_RALT)>;  };
  // NP8
  mm_supsub_kp8: mm_supsub_kp8{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_8>, <&macroUI_sym_sup_8>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp8_supsubkp8: mm_kp8_supsubkp8{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_N8>, <&mm_supsub_kp8>;   mods = <(MOD_RALT)>;  };
  // NP9
  mm_supsub_kp9: mm_supsub_kp9{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_9>, <&macroUI_sym_sup_9>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kp9_supsubkp9: mm_kp9_supsubkp9{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_N9>, <&mm_supsub_kp9>;   mods = <(MOD_RALT)>;  };
  // KP_PLUS
  mm_supsub_kpplus: mm_supsub_kpplus{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_plus>, <&macroUI_sym_sup_plus>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kpplus_supsubkpplus: mm_kpplus_supsubkpplus{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_PLUS>, <&mm_supsub_kpplus>;   mods = <(MOD_RALT)>;  };
  // KP_MINUS
  mm_supsub_kpminus: mm_supsub_kpminus{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_minus>, <&macroUI_sym_sup_minus>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_kpminus_supsubkpminus: mm_kpminus_supsubkpminus{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp KP_MINUS>, <&mm_supsub_kpminus>;   mods = <(MOD_RALT)>;  };
  // EQUAL
  mm_supsub_equal: mm_supsub_equal{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_equal>, <&macroUI_sym_sup_equal>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_equal_supsubequal: mm_kpequal_supsubequal{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&HTUI_1tap_kp_tpref EQUAL LS(MINUS)>, <&mm_supsub_equal>;   mods = <(MOD_RALT)>;  };
  // (
  mm_supsub_opar: mm_supsub_opar{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_opar>, <&macroUI_sym_sup_opar>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_slashcopy_supsubopar: mm_slashcopy_supsubopar{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&HTUI_1tap_kp_tpref LC(C) KP_SLASH>, <&mm_supsub_opar>;   mods = <(MOD_RALT)>;  };
  // )
  mm_supsub_cpar: mm_supsub_cpar{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_cpar>, <&macroUI_sym_sup_cpar>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_asteriskpaste_supsubcpar: mm_asteriskpaste_supsubcpar{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&HTUI_1tap_kp_tpref LC(V) KP_MULTIPLY>, <&mm_supsub_cpar>;   mods = <(MOD_RALT)>;  };
  // N
  mm_supsub_n: mm_supsub_n{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&macroUI_sym_sub_n>, <&macroUI_sym_sup_n>;   mods = <(MOD_LSFT|MOD_RSFT)>;  };
  mm_n_supsubn: mm_n_supsubn{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp N>, <&mm_supsub_n>;   mods = <(MOD_RALT)>;  };

  mm_A_subA: mm_A_subA{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp A>, <&macroUI_sym_sub_a>;   mods = <(MOD_RALT)>;  };  // A
  mm_E_subE: mm_E_subE{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp E>, <&macroUI_sym_sub_e>;   mods = <(MOD_RALT)>;  };  // E
  mm_O_subO: mm_O_subO{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp O>, <&macroUI_sym_sub_o>;   mods = <(MOD_RALT)>;  };  // O
  mm_X_subX: mm_X_subX{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp X>, <&macroUI_sym_sub_x>;   mods = <(MOD_RALT)>;  };  // X
  mm_H_subH: mm_H_subH{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp H>, <&macroUI_sym_sub_h>;   mods = <(MOD_RALT)>;  };  // H
  mm_K_subK: mm_K_subK{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp K>, <&macroUI_sym_sub_k>;   mods = <(MOD_RALT)>;  };  // K
  mm_L_subL: mm_L_subL{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp L>, <&macroUI_sym_sub_l>;   mods = <(MOD_RALT)>;  };  // L
  mm_M_subM: mm_M_subM{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp M>, <&macroUI_sym_sub_m>;   mods = <(MOD_RALT)>;  };  // M
  mm_P_subP: mm_P_subP{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp P>, <&macroUI_sym_sub_p>;   mods = <(MOD_RALT)>;  };  // P
  mm_S_subS: mm_S_subS{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp S>, <&macroUI_sym_sub_s>;   mods = <(MOD_RALT)>;  };  // S
  mm_T_subT: mm_T_subT{ compatible = "zmk,behavior-mod-morph";   #binding-cells = <0>;     bindings = <&kp T>, <&macroUI_sym_sub_t>;   mods = <(MOD_RALT)>;  };  // T

};
  
//#define TESTGITHUB  YES
#ifdef TESTGITHUB   
#endif

/ {
    layer_listeners {
        compatible = "zmk,layer-listeners";
        nav_reset {
            layers = <14 15>;
            bindings = <&macroBothBrace &macroBothBracket>;
        };
    };
}


